# 设置 Electron 镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 设置 Node.js 工具链镜像
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/node-sqlite3/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
bufferutil_binary_host_mirror=https://npmmirror.com/mirrors/bufferutil/
utf8_validation_binary_host_mirror=https://npmmirror.com/mirrors/utf-8-validate/