<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociationSSIDMap</key>
	<dict>
		<key>&lt;424d5347 53353032&gt;</key>
		<integer>3</integer>
		<key>&lt;42555054 2d677565 7374&gt;</key>
		<integer>2</integer>
		<key>&lt;42555054 2d706f72 74616c&gt;</key>
		<integer>3</integer>
		<key>&lt;43686172 6c657320 6950686f 6e653750&gt;</key>
		<integer>0</integer>
		<key>&lt;4b464320 46524545 20574946 49&gt;</key>
		<integer>1</integer>
		<key>&lt;4b494d&gt;</key>
		<integer>3</integer>
		<key>&lt;4b696d27 73206950 686f6e65 3750&gt;</key>
		<integer>0</integer>
		<key>&lt;51515f4d 485f3236 34373635 38323538&gt;</key>
		<integer>0</integer>
		<key>&lt;526f6269 6e203870 6c7573&gt;</key>
		<integer>2</integer>
		<key>&lt;53746172 6275636b 73&gt;</key>
		<integer>3</integer>
		<key>&lt;53757065 7238&gt;</key>
		<integer>1</integer>
		<key>&lt;54502d4c 494e4b5f 36464534&gt;</key>
		<integer>2</integer>
		<key>&lt;62657a7a 61686f75 7365&gt;</key>
		<integer>3</integer>
		<key>&lt;6950686f 6e65&gt;</key>
		<integer>3</integer>
		<key>&lt;7368616e 5f322e34 47203246&gt;</key>
		<integer>1</integer>
		<key>&lt;7368616e 5f322e34 47&gt;</key>
		<integer>4</integer>
		<key>&lt;7368616e 5f3547&gt;</key>
		<integer>3</integer>
		<key>{length = 10, bytes = 0x425550542d6775657374}</key>
		<integer>0</integer>
		<key>{length = 10, bytes = 0x4d61616e436f66666565}</key>
		<integer>4</integer>
		<key>{length = 11, bytes = 0x425550542d6d6f62696c65}</key>
		<integer>4</integer>
		<key>{length = 11, bytes = 0x425550542d706f7274616c}</key>
		<integer>1</integer>
		<key>{length = 12, bytes = 0x7368616e5f322e3447203246}</key>
		<integer>2</integer>
		<key>{length = 3, bytes = 0x4b494d}</key>
		<integer>3</integer>
		<key>{length = 4, bytes = 0x7368616e}</key>
		<integer>2</integer>
		<key>{length = 7, bytes = 0x656475726f616d}</key>
		<integer>2</integer>
		<key>{length = 7, bytes = 0x7368616e5f3547}</key>
		<integer>0</integer>
		<key>{length = 8, bytes = 0x425550542d696f74}</key>
		<integer>3</integer>
		<key>{length = 9, bytes = 0x53482d706f7274616c}</key>
		<integer>4</integer>
		<key>{length = 9, bytes = 0x537461726275636b73}</key>
		<integer>4</integer>
		<key>{length = 9, bytes = 0x7368616e5f322e3447}</key>
		<integer>3</integer>
	</dict>
	<key>InternalAssociationSSIDMap</key>
	<dict>
		<key>&lt;424d5347 53353032&gt;</key>
		<integer>3</integer>
		<key>&lt;42555054 2d677565 7374&gt;</key>
		<integer>2</integer>
		<key>&lt;42555054 2d706f72 74616c&gt;</key>
		<integer>3</integer>
		<key>&lt;43686172 6c657320 6950686f 6e653750&gt;</key>
		<integer>0</integer>
		<key>&lt;4b464320 46524545 20574946 49&gt;</key>
		<integer>1</integer>
		<key>&lt;4b494d&gt;</key>
		<integer>3</integer>
		<key>&lt;4b696d27 73206950 686f6e65 3750&gt;</key>
		<integer>0</integer>
		<key>&lt;51515f4d 485f3236 34373635 38323538&gt;</key>
		<integer>0</integer>
		<key>&lt;526f6269 6e203870 6c7573&gt;</key>
		<integer>2</integer>
		<key>&lt;53746172 6275636b 73&gt;</key>
		<integer>3</integer>
		<key>&lt;53757065 7238&gt;</key>
		<integer>1</integer>
		<key>&lt;54502d4c 494e4b5f 36464534&gt;</key>
		<integer>2</integer>
		<key>&lt;62657a7a 61686f75 7365&gt;</key>
		<integer>3</integer>
		<key>&lt;6950686f 6e65&gt;</key>
		<integer>3</integer>
		<key>&lt;7368616e 5f322e34 47203246&gt;</key>
		<integer>1</integer>
		<key>&lt;7368616e 5f322e34 47&gt;</key>
		<integer>4</integer>
		<key>&lt;7368616e 5f3547&gt;</key>
		<integer>3</integer>
		<key>{length = 10, bytes = 0x425550542d6775657374}</key>
		<integer>0</integer>
		<key>{length = 10, bytes = 0x4d61616e436f66666565}</key>
		<integer>4</integer>
		<key>{length = 11, bytes = 0x425550542d6d6f62696c65}</key>
		<integer>4</integer>
		<key>{length = 11, bytes = 0x425550542d706f7274616c}</key>
		<integer>1</integer>
		<key>{length = 12, bytes = 0x7368616e5f322e3447203246}</key>
		<integer>2</integer>
		<key>{length = 3, bytes = 0x4b494d}</key>
		<integer>3</integer>
		<key>{length = 4, bytes = 0x7368616e}</key>
		<integer>2</integer>
		<key>{length = 7, bytes = 0x656475726f616d}</key>
		<integer>2</integer>
		<key>{length = 7, bytes = 0x7368616e5f3547}</key>
		<integer>0</integer>
		<key>{length = 8, bytes = 0x425550542d696f74}</key>
		<integer>3</integer>
		<key>{length = 9, bytes = 0x53482d706f7274616c}</key>
		<integer>4</integer>
		<key>{length = 9, bytes = 0x537461726275636b73}</key>
		<integer>4</integer>
		<key>{length = 9, bytes = 0x7368616e5f322e3447}</key>
		<integer>3</integer>
	</dict>
	<key>LastSubmissionTimestamp</key>
	<date>2022-01-17T03:10:57Z</date>
	<key>PendingList</key>
	<array>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>CN</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>Yes</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>2.4GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>1</string>
			<key>com.apple.message.channel_number</key>
			<string>12</string>
			<key>com.apple.message.channel_width</key>
			<string>20MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>0</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>CN</string>
			<key>com.apple.message.noise</key>
			<string>-93</string>
			<key>com.apple.message.oui</key>
			<string>ee:b9:70</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11n</string>
			<key>com.apple.message.rssi</key>
			<string>-56</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>37</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa3_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa3_personal</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>Yes</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
		<dict>
			<key>com.apple.message.adopted_country_code</key>
			<string>CN</string>
			<key>com.apple.message.airport</key>
			<string>No</string>
			<key>com.apple.message.autojoin</key>
			<string>Yes</string>
			<key>com.apple.message.beacon_interval</key>
			<string>100</string>
			<key>com.apple.message.channel_frequency_band</key>
			<string>2.4GHz</string>
			<key>com.apple.message.channel_network_count</key>
			<string>1</string>
			<key>com.apple.message.channel_number</key>
			<string>12</string>
			<key>com.apple.message.channel_width</key>
			<string>20MHz</string>
			<key>com.apple.message.domain</key>
			<string>com.apple.wifi.association</string>
			<key>com.apple.message.duration</key>
			<string>0</string>
			<key>com.apple.message.error</key>
			<string>No Error</string>
			<key>com.apple.message.ht40_intolerant</key>
			<string>No</string>
			<key>com.apple.message.ibss</key>
			<string>No</string>
			<key>com.apple.message.ios_personal_hotspot</key>
			<string>No</string>
			<key>com.apple.message.network_country_code</key>
			<string>CN</string>
			<key>com.apple.message.noise</key>
			<string>-92</string>
			<key>com.apple.message.oui</key>
			<string>ee:b9:70</string>
			<key>com.apple.message.passpoint</key>
			<string>No</string>
			<key>com.apple.message.phy_mode</key>
			<string>11n</string>
			<key>com.apple.message.rssi</key>
			<string>-24</string>
			<key>com.apple.message.security_type</key>
			<string>WPA2Personal</string>
			<key>com.apple.message.snr</key>
			<string>68</string>
			<key>com.apple.message.supports_cck_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ht20</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht40</key>
			<string>Yes</string>
			<key>com.apple.message.supports_ht_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_ofdm_rates</key>
			<string>No</string>
			<key>com.apple.message.supports_vht_rates</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wep</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa2_personal</key>
			<string>Yes</string>
			<key>com.apple.message.supports_wpa3_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa3_personal</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_enterprise</key>
			<string>No</string>
			<key>com.apple.message.supports_wpa_personal</key>
			<string>Yes</string>
			<key>com.apple.message.swap</key>
			<string>No</string>
			<key>com.apple.message.wake_context</key>
			<string>FullWake</string>
		</dict>
	</array>
</dict>
</plist>
