<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Host_Net_Address</key>
	<string>10.37.129.2</string>
	<key>Host_Net_Mask</key>
	<string>255.255.255.0</string>
	<key>MAC_ARRAY</key>
	<array/>
	<key>MAC_IOUE_ARRAY</key>
	<array>
		<dict>
			<key>MAC_IOUE</key>
			<data>
			5swOXWWQ
			</data>
			<key>MAC_IOUE_USED</key>
			<true/>
		</dict>
		<dict>
			<key>MAC_IOUE</key>
			<data>
			ZukItsj2
			</data>
			<key>MAC_IOUE_USED</key>
			<true/>
		</dict>
		<dict>
			<key>MAC_IOUE</key>
			<data>
			uowKXZgT
			</data>
			<key>MAC_IOUE_USED</key>
			<true/>
		</dict>
		<dict>
			<key>MAC_IOUE</key>
			<data>
			QipQTAur
			</data>
			<key>MAC_IOUE_USED</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
