<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOSCodePage</key>
	<string>936</string>
	<key>LocalKerberosRealm</key>
	<string>LKDC:SHA1.030A3BD0F6CE087725FA96AF5DE7EB949E128E8B</string>
	<key>NetBIOSName</key>
	<string>KimdeMBP</string>
	<key>ServerDescription</key>
	<string>Kim的MacBook Pro</string>
</dict>
</plist>
