<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/37510DCB-A34D-4C45-97E6-9F38FF0234D8</string>
	<key>Model</key>
	<string>MacBookPro15,2</string>
	<key>NetworkServices</key>
	<dict>
		<key>112A0407-D87E-49CE-AA29-F45F3A6D8799</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>usbserial-14110</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>USB Serial</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>1</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>1</integer>
				<key>HoldReminderTime</key>
				<integer>10</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>ProxyAutoConfigURLString</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>USB Serial</string>
		</dict>
		<key>3A251122-EC25-4B37-BD29-0B690DF051A9</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array/>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPProxy</key>
				<string></string>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>HTTPSProxy</key>
				<string></string>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>SOCKSEnable</key>
				<integer>0</integer>
				<key>SOCKSProxy</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>526AFEF0-21D1-47B1-8B3A-7EF1DBBE43A4</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array/>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPProxy</key>
				<string></string>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>HTTPSProxy</key>
				<string></string>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>SOCKSEnable</key>
				<integer>0</integer>
				<key>SOCKSProxy</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>B91CF70B-6B36-402C-90C7-17047181E20F</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array/>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPProxy</key>
				<string></string>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>HTTPSProxy</key>
				<string></string>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>SOCKSEnable</key>
				<integer>0</integer>
				<key>SOCKSProxy</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>B94BA9E1-FD58-4367-9DA0-8AA448A4CAFE</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>usbserial-14310</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>USB Serial</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>1</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>1</integer>
				<key>HoldReminderTime</key>
				<integer>10</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>ProxyAutoConfigURLString</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>USB Serial 2</string>
		</dict>
		<key>DCE3D08E-235F-40D6-8140-C0B6D5E2C4FB</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en8</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Ethernet</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array/>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPProxy</key>
				<string></string>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>HTTPSProxy</key>
				<string></string>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>SOCKSEnable</key>
				<integer>0</integer>
				<key>SOCKSProxy</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Ethernet</string>
		</dict>
		<key>EA819B13-C42D-40F7-8A92-41B9D871A4AC</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>雷雳网桥</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array/>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPProxy</key>
				<string></string>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>HTTPSProxy</key>
				<string></string>
				<key>ProxyAutoConfigEnable</key>
				<integer>0</integer>
				<key>SOCKSEnable</key>
				<integer>0</integer>
				<key>SOCKSProxy</key>
				<string></string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>37510DCB-A34D-4C45-97E6-9F38FF0234D8</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>112A0407-D87E-49CE-AA29-F45F3A6D8799</string>
							<string>B94BA9E1-FD58-4367-9DA0-8AA448A4CAFE</string>
							<string>DCE3D08E-235F-40D6-8140-C0B6D5E2C4FB</string>
							<string>3A251122-EC25-4B37-BD29-0B690DF051A9</string>
							<string>CE341284-4987-4B66-9CC3-D0BD4B832D71</string>
							<string>4CCFCEC6-C4EE-439C-A0B5-2982C44E62B8</string>
							<string>B91CF70B-6B36-402C-90C7-17047181E20F</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>Prompt</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>Version</key>
							<integer>4000</integer>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>112A0407-D87E-49CE-AA29-F45F3A6D8799</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/112A0407-D87E-49CE-AA29-F45F3A6D8799</string>
					</dict>
					<key>3A251122-EC25-4B37-BD29-0B690DF051A9</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/3A251122-EC25-4B37-BD29-0B690DF051A9</string>
					</dict>
					<key>4CCFCEC6-C4EE-439C-A0B5-2982C44E62B8</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/4CCFCEC6-C4EE-439C-A0B5-2982C44E62B8</string>
					</dict>
					<key>B91CF70B-6B36-402C-90C7-17047181E20F</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B91CF70B-6B36-402C-90C7-17047181E20F</string>
					</dict>
					<key>B94BA9E1-FD58-4367-9DA0-8AA448A4CAFE</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B94BA9E1-FD58-4367-9DA0-8AA448A4CAFE</string>
					</dict>
					<key>CE341284-4987-4B66-9CC3-D0BD4B832D71</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/CE341284-4987-4B66-9CC3-D0BD4B832D71</string>
					</dict>
					<key>DCE3D08E-235F-40D6-8140-C0B6D5E2C4FB</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/DCE3D08E-235F-40D6-8140-C0B6D5E2C4FB</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
		<key>43A478B6-C966-4A9E-B1C4-41552BD9E864</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>526AFEF0-21D1-47B1-8B3A-7EF1DBBE43A4</string>
							<string>6113A4CA-24BE-469F-BAF5-1D9C86FEC9BC</string>
							<string>EA819B13-C42D-40F7-8A92-41B9D871A4AC</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinMode</key>
							<string>Automatic</string>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>526AFEF0-21D1-47B1-8B3A-7EF1DBBE43A4</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/526AFEF0-21D1-47B1-8B3A-7EF1DBBE43A4</string>
					</dict>
					<key>6113A4CA-24BE-469F-BAF5-1D9C86FEC9BC</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/6113A4CA-24BE-469F-BAF5-1D9C86FEC9BC</string>
					</dict>
					<key>EA819B13-C42D-40F7-8A92-41B9D871A4AC</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/EA819B13-C42D-40F7-8A92-41B9D871A4AC</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>学校</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>BackToMyMac</key>
			<dict>
				<key>501</key>
				<string>1822467348.members.btmm.icloud.com.</string>
			</dict>
			<key>BackToMyMacDSIDs</key>
			<dict>
				<key>1822467348.members.btmm.icloud.com.</key>
				<string>1822467348</string>
			</dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>KimdeMacBook-Pro</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>Kim的MacBook Pro</string>
			<key>ComputerNameEncoding</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
					<string>en2</string>
					<string>en3</string>
					<string>en4</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>__VERSION__</key>
	<integer>20191120</integer>
</dict>
</plist>
